/* h2 {
  margin: 20px;
} */

body {
    background-color: #254D70;
}

.kalkulator {
    width: 335px;
    margin: 100px auto;
    padding: 50px 20px 50px 50px;
    background-color: #204260;
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

input {
    width: 290px;
    height: 70px;
    border-radius: 10px;
    border: none;
    background-color: #ffffff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.bilangan {
    padding-right: 15px;
    font-size: xx-large;
    border: none;
    text-align: right;
    font-weight: bold;
}

button {
    width: 70px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #F2F2F2
}

button:hover {
    background-color: #e2e2e2;
}

.hasil {
    background-color: #1f5a8e;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.hasil:hover {
    background-color: #235888;
}

.hasil2 {
    background-color: #1f5a8e;
    color: white;
    width: 150px;
    margin-right: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.hasil2:hover {
    background-color: #235888;
}

.hasil3 {
    background-color: #FFA725;
    color: white;
    width: 150px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.hasil3:hover {
    background-color: #e99922;
}

.angka {
    margin-top: 30px;
}

.angka .baris1,
.baris2,
.baris3,
.baris4,
.baris5 {
    margin-top: 15px;
}

.simbolnya {
    font-size: large;
    margin-right: 5px;
    font-weight: bold;
    color: #4b4b4b;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.nomor {
    font-size: large;
    margin-right: 5px;
    font-weight: bold;
    color: #4b4b4b;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}